<% layout('layouts/boilerplate') %>
    <h1>Edit Listing</h1>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="listing[title]" value="<%= listing.title %>">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="listing[location]" value="<%= listing.location %>">
        </div>
        <button>Update Listing</button>
    </form>
    <a href="/listings/<%= listing._id %>">Back To Listing</a>
