<% layout('layouts/boilerplate') %>
    <form action="/listings" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="listing[title]">
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="listing[location]">
        </div>
        <button>Add Listing</button>
    </form>
    <a href="/listings">All Listings</a>
